@font-face {
	font-family: 'BungeeShade-Regular';
	src: url('BungeeShade-Regular.ttf');
}
body {
	background-color: #f26059;
}
.page {
	width: 80%;
	margin: 50px auto;
	text-align: center;
	background-color: #f26059;
	border-radius: 5px;
}
header {
	font-size: 25px;
	line-height: 45px;
}
body {
	font-family: 'BungeeShade-Regular';
	color: #222;
	text-transform: uppercase;
}
h4 {
	font-size: 20px;
	font-family: 'BungeeShade';
}
h4 #clock {
	font-size: 35px;
}
#lolcatImage {
	max-width: 30em;
	border: 5px solid black;
}
#wakeUpTimeSelector, #lunchTimeSelector, #napTimeSelector {
	padding: 10px;
}
#partyTimeButton {
  	background-color: #222;
  	width: 300px;
  	font-family: 'BungeeShade';
  	font-size: 18px;
  	color: #fff;
  	border-radius: 5px;
  	padding: 10px;
  	margin-top: 20px;
}
footer p {
	font-family: 'BungeeShade';
	text-transform: uppercase;
	font-size: 10px;
}